{{#with foundCelebrity}}
    <h3> {{name}} </h3>
    <p>Ocupation: {{ocupation}}</p>
    <p>Catch Phrase: {{catchPhrase}}</p>
    <h4><a href="/celebrities/{{_id}}/delete">Delete celebrity</a></h4>
    <h4><a href="/celebrities/{{_id}}/edit">Edit celebrity</a></h4>
{{/with}}

